.Table {
  width: 100%;
  border-collapse: collapse;
}

.Table.small {
  margin-top: calc(2rem/18);
  font-size: calc(12rem/18);
  line-height: calc(32rem/18);
}

.Table td,
.Table th {
  padding: 0;
  white-space: nowrap;
}

.Table th {
  font-weight: 600;
}

.Table i {
  font-size: 0.6em;
  font-style: normal;
  margin-left: 0.4em;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.Table a {
  text-decoration: none;
  color: black;
}

.Table a:hover {
  text-decoration: underline;
}
