.DescriptionList th {
  font-weight: 600;
  text-align: left;
  padding: 0;
  vertical-align: top;
  white-space: nowrap;
}

.DescriptionList td {
  padding: 0;
}

.DescriptionList {
  border-collapse: collapse;
  margin-bottom: 1.77778rem;
  width: 100%;
}

.Details-left {
  text-align: left;
}

.Details-right {
  text-align: right;
}

.emptyRow {
  height: 1.77778rem;
}

.horizontalRule {
  height: 0;
  border-bottom: 1px solid #979797;
}
