.DescriptionList th {
  font-weight: 600;
  text-align: left;
  padding: 0 0.5em 0 0;
}

.DescriptionList td {
  padding: 0;
}

.DescriptionList {
  border-collapse: collapse;
}

.emptyRow {
  height: 1.77777em;
}
