.underline {
  display: inline-block;
  position: relative;
}

.underline::after {
  content: " ";
  position: absolute;
  bottom: calc(11rem/18);
  left: 0;
  width: 100%;
  border-bottom: 1px solid black;
}

.underline i {
  font-size: 0.6em;
  font-style: normal;
  margin-left: 0.4em;
}
