.container {
  margin: 0 auto;
  width: calc(960rem/18);
  max-width: 100%;
  display: flex;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  /* border: 1px solid grey; */
  margin-right: 1.7777777778rem;
}

.col:last-child {
  margin-right: 0;
}
